/* common */
body{position:relative}
.tac{text-align:center}
/*.projectNm{width:640px;margin:30px auto 5px}*/
.projectLink{width:150px;height:240px;margin:0 auto;position:relative;top:-35px;display:none}
.mt100{margin-top:100px}
.mt30{margin-top:30px}
/*#wrapper{min-width:600px}*/

/* images */
.projectImg1{background:url('../images/project1.PNG') 50% 50% no-repeat;background-size:100% 100%;width:640px;height:240px;margin:0 auto;position:relative;display:inline-block;cursor:pointer;}
.projectImg2{background:url('../images/project2.PNG') 50% 50% no-repeat;background-size:100% 100%;width:640px;height:240px;margin:0 auto;position:relative;display:inline-block;cursor:pointer;}
.projectImg3{background:url('../images/project3.PNG') 50% 50% no-repeat;background-size:100% 100%;width:640px;height:240px;margin:0 auto;position:relative;display:inline-block;cursor:pointer;}
.projectImg4{background:url('../images/project4.PNG') 50% 50% no-repeat;background-size:100% 100%;width:640px;height:240px;margin:0 auto;position:relative;display:inline-block;cursor:pointer;}
.projectImg5{background:url('../images/project4.PNG') 50% 50% no-repeat;background-size:100% 100%;width:640px;height:240px;margin:0 auto;position:relative;display:inline-block;cursor:pointer;}


.projectImg11{background:url('../images/project1.PNG') 50% 50% no-repeat;background-size:100% 100%;width:640px;height:240px;margin:0 auto;position:relative;display:inline-block;cursor:pointer;}
.projectImg22{background:url('../images/project2.PNG') 50% 50% no-repeat;background-size:100% 100%;width:640px;height:240px;margin:0 auto;position:relative;display:inline-block;cursor:pointer;}
.projectImg33{background:url('../images/project3.PNG') 50% 50% no-repeat;background-size:100% 100%;width:640px;height:240px;margin:0 auto;position:relative;display:inline-block;cursor:pointer;}
.projectImg44{background:url('../images/project4.PNG') 50% 50% no-repeat;background-size:100% 100%;width:640px;height:240px;margin:0 auto;position:relative;display:inline-block;cursor:pointer;}


.githubImg{background:url('../images/gitHub.PNG') 50% 50% no-repeat;background-size:100% 100%;width:45px; height:45px;margin:40px auto 0;cursor:pointer}
.startImg{background:url('../images/start.PNG') 50% 50% no-repeat;background-size:100% 100%;width:45px; height:45px;margin:40px auto 0;cursor:pointer}

/* footer */
.footerBG{background:#EAEAEA;height:50px;margin-top:50px}
.footerText{color:rgba(88, 88, 88, 0.5);margin:15px 0 0 40px}